[run]
branch = True
source =
    apps
    config
omit =
    */migrations/*
    */__init__.py
    apps/*/tests.py
    config/asgi.py
    config/wsgi.py
    config/celery.py
    config/settings_test*.py
    manage.py

[report]
show_missing = True
skip_covered = False