Django
djangorestframework

# async tasks
celery
redis

# utils
requests
ujson
PyYAML

# password reset via API
django-rest-passwordreset

# recommended requirements
python-decouple
psycopg2-binary
drf-spectacular
djangorestframework-simplejwt

python-dotenv



social-auth-app-django

django-baton

sentry-sdk

Pillow
django-versatileimagefield

django-redis
django-cachalot

